<head>
<title>
Home
</title>
<script src="scripts/home.js">>
</script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<head>

<body>
  <section id=image>
</section>
<ul class=toolbar id=toolbar>
  <li class=toolbar-element><a href="http://168.119.163.119:3200">Home</li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/maps">Covid Map</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/news">News</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/resources">Resources</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/tables">Raw Data</a></li>
</ul>
<div id=homebuttons>
  <button id=prev>prev</button>
  <button id=next>next</button>
</div>
  <div id=ak>
  <a id=aklink></a>
  </div>
</body>
