
  <head>
    <title>News</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="../scripts/news.js"></script>
  </head>
  <body>
    <div id=newsheader>
      <p id=newstitle>Live News Feed</p>
      <p>Stories pulled from google news</p>

  </div>



  <ul id=news style="list-style-type:none;"></ul>
  <ul class=toolbar id=toolbar>
    <li class=toolbar-element><a href="/">Home</li>
    <li class=toolbar-element><a href="/maps"</a></li>
    <li class=toolbar-element><a href="/news">News</a></li>
    <li class=toolbar-element><a href="/resources">Resources</a></li>
    <li class=toolbar-element><a href="tables">Raw Data</a></li>
  </ul>


  </body>
