<body id=resources>
<head>
<title>Resources</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<head>
<table id=resourceslist>
<tr>
<td><ul style="list-style-type:none;">
  <li id=cases style="font-size:40px;text-align:center;"><a href="https://static.usafacts.org/public/data/covid-19/covid_confirmed_usafacts.csv">County Cases</a></li>
  <li id=deaths style="font-size:40px;text-align:center;"><a href="https://static.usafacts.org/public/data/covid-19/covid_deaths_usafacts.csv">County Deaths</a></li>
  <li id=population style="font-size:40px;text-align:center;"><a href="https://static.usafacts.org/public/data/covid-19/covid_county_population_usafacts.csv">County Populations</li>
  <li id=cdc style="font-size:40px;text-align:center;"><a href="https://covid.cdc.gov/covid-data-tracker/#cases_casesper100klast7days">CDC Data</a></li>
  <li id=cdc style="font-size:40px;text-align:center;"><a href="https://usafacts.org/visualizations/coronavirus-covid-19-spread-map/">USA Facts</a></li>

  <li id=cdc style="font-size:40px;text-align:center;"><a href="https://pixabay.com/images/search/covid-19/">Royality Free Images</a></li>

</ul>  </td>

</tr>

</table>
<ul class=toolbar id=toolbar>
  <li class=toolbar-element><a href="http://168.119.163.119:3200">Home</li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/maps">Covid Map</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/news">News</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/resources">Resources</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/tables">Raw Data</a></li>
</ul>


</body>
