<head>
  <title>Covid Raw Data</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="../scripts/table.js">>
 </script>

</head>

<body id=data>
<div id=tables>
  <table id=countytable>
  <caption id=countycap></caption>
  <thead>
  <th id=datatableheader>Date</th>
  <th id=datatableheader>Cases</th>
  <th id=datatableheader>Deaths</th>
</thead>
  <tbody id=countydatabody>
  </tbody>
  </table>

  <table id=statetable>
  <caption id=statecap></caption>
  <thead>
  <th id=datatableheader> State Cases Total</th>
  <th id=datatableheader>State Deaths Total</th>
  <th id=datatableheader>State Cases New</th>
  <th id=datatableheader>State Deaths New</th>
  <th id=datatableheader>Date retrived</th>
</thead>
  <tbody id=statedatabody>
  </tbody>
  </table>
</div>














<div id=form>
<form id=>
  <label for="county">County:</label><br>
  <input type="text" id="county" name="county"><br>
  <label for="state">State Abbreviation:</label><br>
  <input type="text" id="state" name="state">
  <button type="button" id=datasubmit>Submit</button>
</form>
</div>

<ul class=toolbar id=toolbar>
  <li class=toolbar-element><a href="http://168.119.163.119:3200">Home</li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/maps">Covid Map</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/news">News</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/resources">Resources</a></li>
  <li class=toolbar-element><a href="http://168.119.163.119:3200/tables">Raw Data</a></li>
</ul>

<div id=buttons>
<button type="button" id="hide">Hide Table</button>
<button type="button" id="info">Info</button>
<buttons>


<div id=ak>
<p id=rights>Image Provided Royality Free from Pixelbay</p>
Image by <a href="https://pixabay.com/users/helenjank-18427938/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5716753">Helena Jankovičová Kováčová</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5716753">Pixabay</a>
</div>

<body>
